# fly.toml app configuration file generated for ic3-forms-workflows on 2025-11-16T04:08:03Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ic3-forms-workflows'
primary_region = 'sjc'

[build]

[deploy]
  release_command = 'npx prisma migrate deploy'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
